/* 
    Document   : evalform
    Created on : 22/02/2013, 08:55:30 AM
    Author     : victor.barba
    Description:
        Purpose of the stylesheet follows.
*/

.pe-dynaform-cell {
    font-family: Arial,sans-serif ;font-size: 9pt;
}
.pe-dynaform-cell-first {
    padding: 7px 20px;
    text-align: left;width: 460px; text-align: justify
}
.pe-dynaform-cell-last{
    padding:2px 30px; 
}

.pe-dynaform-label {
    white-space: normal;
}
/* note: trick with colspan is needed for IE8 */
.pe-dynaform-cell input,
.pe-dynaform-cell textarea,
.pe-dynaform-cell[colspan="1"] input {
    width: 350px;
}         
.pe-dynaform-cell[colspan="1"] textarea {  
    width: 350px;  
}                   
.pe-dynaform-cell.separator {  
    padding: 0;  
}  

.pe-dynaform-cell.separator .separatorText {  
    width: 10%;  
    padding-left: 0;  
    font-size: 9pt;
    font-weight: bold;
    color: brown;
}     

.evalFormStyle{
    border-style: inset;border-width: 2px; background-color: white;

     
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td{
    white-space:normal !important;
}